# Python fayllari
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv/
.env
venv./
venv/
ENV/
env/
*.egg-info/


# IDE fayllari
.vscode/
.idea/

# OS fayllari
.DS_Store
Thumbs.db

# Loglar
*.log
logs/
# Replit yoki boshqa servis fayllari
*.replit
.replit/
users/migrations/
stock/migrations/
file/
staticfiles/
staticfiles/admin/
staticfiles/drf-yasg/
staticfiles/rest_framework/

certbot/
nginx/nginx.conf
Dockerfile
docker-compose.yml

models/

